In [2]:
import pymongo

client=pymongo.MongoClient('mongodb://127.0.0.1:27017')

In [ ]:
mydb=client['Employee']
empinfo=mydb.employeeinformation

In [2]:
record={
    'fn':'sha',
    'ln':'kil',
    'age':12
}
empinfo.insert_one(record)

In [3]:
records=[{
    'fn':'sha',
    'ln':'kilw',
    'age':12
},{'fn':'sha',
    'ln':'kiel',
    'age':121},
{'fn':'sha',
    'ln':'kiql',
    'age':122},{'fn':'sha',
    'ln':'kiqwl',
    'age':1222}]
empinfo.insert_many(records)

In [4]:
empinfo.find_one()

{'_id': ObjectId('629740056c2b101c30a3c7f6'),
 'fn': 'sha',
 'ln': 'kil',
 'age': 12}

In [5]:
empinfo.find()

In [10]:
for i in empinfo.find():
    print(i)

{'_id': ObjectId('629740056c2b101c30a3c7f6'), 'fn': 'sha', 'ln': 'kil', 'age': 12}
{'_id': ObjectId('629741b66c2b101c30a3c7f7'), 'fn': 'sha', 'ln': 'kilw', 'age': 12}
{'_id': ObjectId('629741b66c2b101c30a3c7f8'), 'fn': 'sha', 'ln': 'kiel', 'age': 121}
{'_id': ObjectId('629741b66c2b101c30a3c7f9'), 'fn': 'sha', 'ln': 'kiql', 'age': 122}
{'_id': ObjectId('629741b66c2b101c30a3c7fa'), 'fn': 'sha', 'ln': 'kiqwl', 'age': 1222}

In [14]:
# condition 
# select * from table where condition
for i in empinfo.find({'ln':'kil'}):
    print(i)

{'_id': ObjectId('629740056c2b101c30a3c7f6'), 'fn': 'sha', 'ln': 'kil', 'age': 12}

In [16]:
for i in empinfo.find({'ln':{'$in':['kiql','kiqwl']}}):# filter
    print(i)

{'_id': ObjectId('629741b66c2b101c30a3c7f9'), 'fn': 'sha', 'ln': 'kiql', 'age': 122}
{'_id': ObjectId('629741b66c2b101c30a3c7fa'), 'fn': 'sha', 'ln': 'kiqwl', 'age': 1222}

In [18]:
for i in empinfo.find({'fn':'sha','age':{'$lt':122}}):# 2 condition(and operator)
    print(i)

{'_id': ObjectId('629740056c2b101c30a3c7f6'), 'fn': 'sha', 'ln': 'kil', 'age': 12}
{'_id': ObjectId('629741b66c2b101c30a3c7f7'), 'fn': 'sha', 'ln': 'kilw', 'age': 12}
{'_id': ObjectId('629741b66c2b101c30a3c7f8'), 'fn': 'sha', 'ln': 'kiel', 'age': 121}

In [20]:
for i in empinfo.find({'$or':[{'ln':'kil'},{'age':1222}]}):# or condition
    print(i)

{'_id': ObjectId('629740056c2b101c30a3c7f6'), 'fn': 'sha', 'ln': 'kil', 'age': 12}
{'_id': ObjectId('629741b66c2b101c30a3c7fa'), 'fn': 'sha', 'ln': 'kiqwl', 'age': 1222}

In [21]:
for i in empinfo.find({'$and':[{'ln':'kil'},{'age':1222}]}):# and condition
    print(i)

In [23]:
# create collection
inventory=mydb.inventory

In [24]:
inventory.insert_many([{'item':'journal','qty':2,'size':{'h':2121,'w':121}},{'item':'journal','qty':253,'size':{'h':1921,'w':2121}},{'item':'journal','qty':213,'size':{'h':1211,'w':221}},{'item':'journal','qty':230,'size':{'h':121,'w':21}}])

In [34]:
for i in mydb.inventory.find():
    print(i)

{'_id': ObjectId('629775fa6c2b101c30a3c7fb'), 'item': 'journal', 'qty': 2, 'size': {'h': 2121, 'w': 121}}
{'_id': ObjectId('629775fa6c2b101c30a3c7fc'), 'item': 'journal', 'qty': 253, 'size': {'h': 1921, 'w': 2121}}
{'_id': ObjectId('629775fa6c2b101c30a3c7fd'), 'item': 'journal', 'qty': 213, 'size': {'h': 1211, 'w': 221}}
{'_id': ObjectId('629775fa6c2b101c30a3c7fe'), 'item': 'journal', 'qty': 230, 'size': {'h': 121, 'w': 21}}

In [32]:
s

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'Employee'), 'inventory')

In [35]:
inventory.update_one(
{'qty':230},{"$set":{'size.h':8000},"$currentDate":{"lastModified":True}})

In [37]:
inventory.update_many(
{'qty':{"$gt":231}},{"$set":{'size.h':'q11'},"$currentDate":{"lastModified":True}})

In [38]:
inventory.replace_one({'qty':2},{'qty':2,'open':'kil','right':'ik'})

In [41]:
empinfo.find_one()

{'_id': ObjectId('629740056c2b101c30a3c7f6'),
 'fn': 'sha',
 'ln': 'kil',
 'age': 12}

In [4]:
mybd=client['Students']# create database

In [5]:
collection=mydb['studentscores']

In [6]:
data=[
    {'user':'shahid','sub':'dtasci','score':90},
    {'user':'shahi','sub':'di','score':30},
    {'user':'ahid','sub':'dtaci','score':910},
    {'user':'shid','sub':'dtasi','score':9}
    
]

collection.insert_many(data)

In [14]:
# total number of records
ag=collection.aggregate([{"$group":{"_id":"$user","Total sub":{"$sum":1}}}])

In [12]:
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Subject" : {"$sum" : 1} 
         }} 
    ])

In [13]:
for i in agg_result:
    print(i)

{'_id': 'shid', 'Total Subject': 1}
{'_id': 'shahi', 'Total Subject': 1}
{'_id': 'ahid', 'Total Subject': 1}
{'_id': 'shahid', 'Total Subject': 1}

In [16]:
agg=collection.aggregate([
{"$group":{"_id":"$user","Total marks":{"$sum":"$score"}}}])

In [17]:
for i in agg: print(i)

{'_id': 'shahi', 'Total marks': 30}
{'_id': 'shid', 'Total marks': 9}
{'_id': 'shahid', 'Total marks': 90}
{'_id': 'ahid', 'Total marks': 910}

In [18]:
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

In [19]:
agg=collection.aggregate([
{"$group":{"_id":"$user","Total marks":{"$sum":"$score"}}}])

In [20]:
for i in agg: print(i)

{'_id': 'shahi', 'Total marks': 30}
{'_id': 'shid', 'Total marks': 9}
{'_id': 'Krish', 'Total marks': 250}
{'_id': 'Amit', 'Total marks': 235}
{'_id': 'shahid', 'Total marks': 90}
{'_id': 'ahid', 'Total marks': 910}

In [21]:
aggs=collection.aggregate([
    {
        "$group":{
            "_id":"$user",
            "student average":{"$avg":"$score"}
        }
    }
])

In [22]:
for i in aggs: print(i)

{'_id': 'ahid', 'student average': 910.0}
{'_id': 'shid', 'student average': 9.0}
{'_id': 'Amit', 'student average': 78.33333333333333}
{'_id': 'shahid', 'student average': 90.0}
{'_id': 'Krish', 'student average': 83.33333333333333}
{'_id': 'shahi', 'student average': 30.0}

In [23]:
import datetime

In [24]:
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [25]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2022, 6, 1, 17, 17, 0, 979224)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2022, 6, 1, 17, 17, 0, 979224)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2022, 6, 1, 17, 17, 0, 979224)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2022, 6, 1, 17, 17, 0, 979224)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2022, 6, 1, 17, 17, 0, 979224)}]

In [26]:
mycollection=mydb['stores']

In [28]:
mycollection.insert_many(data)

In [29]:
ad=mycollection.aggregate([{
    "$group": {"_id":"$item","avg quantity":{"$avg":"$quantity"},"avg amount":{"$avg":{"$multiply":["$price","$quantity"]}
             },}])

SyntaxError: invalid syntax (1001056312.py, line 2)

In [30]:
agg_result=mycollection.aggregate([
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg":{"$multiply": [ "$price", "$quantity" ]}},
          "avgQuantity": { "$avg": "$quantity" }
      }
   }
])

In [32]:
for i in agg_result:print(i)

{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}